body {
    background-color: rgb(45, 124, 51);
}


h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter;
    font-size:x-large;
    color: black;
}

h2{
color:rgb(0, 0, 0);
font-family: Arial, Helvetica, sans-serif;
font-size: medium;
font-weight: lighter;
color: rgb(0, 0, 0);
}

h3{
    font-weight: lighter;
}


.box,#output{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
    border-color: rgb(0, 0, 0);
    box-shadow: 0 20px 20px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 20px;
    border:3px solid black;
    margin-bottom: 20px;
    text-align: center;

}



.input {
    color:  white;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 20px 20px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 230px;
    font-size: 20px;
}

footer {
    flex-direction: column;

 
}

p{

    align-items: center;
    justify-content: center;
}

header{
    text-align: center;
    font-size: xx-large;

}
